<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management Portal</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 600px;
            padding: 40px;
            text-align: center;
            background-color: #eff7f9; /* Light blue background color */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .success-heading {
            font-size: 36px;
            color: green;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4caf50;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form action="/crudMenu.ejs" method="post">
    <div class="container">
        <h1 class="success-heading">ADMIN MANAGING PORTAL</h1>
        <a href="/manage.ejs" class="button">Add Movie</a>
        <a href="/updateMovie.ejs" class="button">Edit Changes</a>
        <a href="/deleteMovie.ejs" class="button">Delete Movie</a>
        <a href="/" class="button">Logout</a>
    </div>
</form>
</body>
</html>
